:root{
    --clr-100 : rgb(0, 255, 213);
    --clr-200 : rgba(255,255,255,1);
    --clr-300 : rgb(13, 255, 5);
    --clr-400 : rgb(0, 238, 255);
    --clr-500 : rgb(139, 230, 184);
    --clr-600 : rgba(255, 0, 0, 1);


    --bg-clr-100 : rgba(255,255,255,0.4);
    --bg-clr-200 : rgba(0, 0, 0, 1);
    --bg-clr-210 : rgba(0, 0, 0, 0.7);
    --bg-clr-300 : rgb(255, 255, 255, 0.2);
    --bg-clr-310 : rgba(255,255,255,0.6);
    --bg-clr-320 : rgba(255,255,255,1);

}

:root:has(#dark:checked){
    --clr-100 : rgb(255, 0, 140); //
    --clr-200 : rgba(255,255,255,1); //
    --clr-300 : rgb(255, 0, 200); //
    --clr-400 : rgb(174, 0, 255); //
    --clr-500 : rgb(230, 139, 218); //
    --clr-600 : rgba(255, 0, 0, 1); //


    --bg-clr-100 : rgba(0,0,0,1); //
    --bg-clr-200 : rgba(255, 255, 255, 0.9); //
    --bg-clr-210 : rgba(0, 0, 0, 0.9); //
    --bg-clr-300 : rgb(255, 255, 255, 0.8); //
    --bg-clr-310 : rgba(0, 0, 0, 0.6); //
    --bg-clr-320 : rgba(0, 0, 0, 1);
}

// :root:has(#light:checked){
//     --clr-100 : rgb(0, 255, 213);
//     --clr-200 : rgba(255,255,255,1);
//     --clr-300 : rgb(13, 255, 5);
//     --clr-400 : rgb(0, 238, 255);
//     --clr-500 : rgb(139, 230, 184);
//     --clr-600 : rgba(255, 0, 0, 1);


//     --bg-clr-100 : rgba(255,255,255,0.4);
//     --bg-clr-200 : rgba(0, 0, 0, 1);
//     --bg-clr-210 : rgba(0, 0, 0, 0.7);
//     --bg-clr-300 : rgb(255, 255, 255, 0.8);
//     --bg-clr-310 : rgba(255,255,255,0.6);
//     --bg-clr-320 : rgba(255,255,255,1);

// }

$ff-1 : 'Roboto', sans-serif;
$ff-2 : 'Montserrat', sans-serif;

$fs-1 : 0.6rem ;
$fs-2 : 0.8rem ;
$fs-3 : 1rem ;
$fs-4 : 1.1rem ;
$fs-5 : 2rem;

$fw-110 : 400 ; 
$fw-120 : 700 ; 
$fw-130 : 900 ; 
$fw-210 : 400 ; 
$fw-220 : 600 ; 
$fw-230 : 900 ; 

$pd-100 : 0.6rem;


